@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
input,
select,
button {
  padding: 8px;
  margin: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
td,
th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
#result {
  font-size: 18px;
  margin-top: 10px;
  color: green;
}

/* reset bootstrap */
.bg-success {
  background-color: salmon !important;
}
